	<!-- footer -->

	<footer>	
		<div class="container">
			<div class="row">
				<div class="col-sm-3 footer--phone">
					<p>
						Customer Service:
					</p>
					<div>
						123-456-7890
					</div>
				</div>
				<div class="col-sm-3 footer--list">
					<ul>
						<li>
							<a href="/shop">Shop</a>
						</li>
						<li>
							<a href="">Shipping & Return</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 footer--infor">
					<div class="footer--social">
						<ul>
							<li class="social--item">
								<a href="https://twitter.com/">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="social--item">
								<a href="https://www.instagram.com/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="social--item">
								<a href="https://www.google.com.vn/">
									<i class="fab fa-google-plus-g"></i>
								</a>
							</li>
							<li class="social--item">
								<a href="https://www.facebook.com/">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>

						</ul>
					</div>	

					<div class="footer--made">
						<p>
							Mobile Case Shop.
						</p>
					</div>
				</div>
			</div>
		</div>
	
	</footer>