<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- font family-->
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:100" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300&amp;subset=vietnamese" rel="stylesheet">	

	<!-- font awesome -->
	<link rel="stylesheet" type="text/css" href="./stylesheets/Font-awesome/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css">
	<!-- boostrap -->
	<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">

	<script src="./javascripts/jquery-slim.min.js"></script>
	<script src="./javascripts/popper.min.js"></script>
	<script src="./javascripts/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="./javascripts/owl.carousel.min.js"></script>
	<!-- jquery -->


	<!-- my css and js -->
	<link rel="stylesheet" type="text/css" href="./stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/headandfoot.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/shop.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/contact.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/login.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/product.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/sale.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/addProduct.css">
</head>
<body>

	<header>
		<div class="heading">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 ">
						<div class="heading--logo __logo">
							<a href="#">
								<img src="./images/logo.gif" class="img-fluid">
							</a>
							<div class="heading--title __title">
								<a href="/">Casies</a>
							</div>
						</div>
						<div class="btn--navbar float-right">
  							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    							<span class="btn--icon fas fa-bars"></span>
  							</button>
						</div>
					</div>
					<div class="col-lg-7 headring--nav">
						<nav class="navbar navbar-expand-lg ">							
  							<div class="collapse  navbar-collapse" id="navbarNav">
    							<ul class="navbar-nav ml-auto">
      								<li class="nav-item active">
        								<a class="nav-link link-child" href="/">Home</a>
      								</li>
      								<li class="nav-item">
        								<a class="nav-link" href="shop">Shop</a>
      								</li>
      								
      								<li class="nav-item">
        								<a class="nav-link" href="contact">Contact us</a>
      								</li>
      								<li class="nav-item">
        								<a class="nav-link" href="login">Login</a>
      								</li>
      								<li class="nav-item cart">
        								<a class="nav-link" href="sale">
											<i class="fas fa-shopping-bag"></i>
        								</a>
      								</li>
    							</ul>
  							</div>

						</nav>
					</div>
				</div>
			</div>
			
		</div>
	</header>