h1.display-3 {text-transform: uppercase;font-weight: bold;color: lightblue;text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;}
.jumbotron{
    width: 75%;
    margin: auto;
    background-color: lightblue;
}
a.btn.btn-success,
a.btn.btn-primary,
a.btn.btn-info
 {
    margin: 20px 10px 20px 0px;
}